* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 44px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.input-address {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  height: 40px;
  width: 690px;
  font-size: 16px;
  line-height: 24px;
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-position: left 11px center;
  padding-left: 35px;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
  margin-right: 10px;
}

.button-primary {
  background: #1890FF;
  border-radius: 2px;
  color: #FFFFFF
}

.button-icon {
  margin-right: 6px;
}

.promo {
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #FFF1B8 url(../img/promo-img.jpeg) no-repeat top -100px right -247px/ 924px;
  border-radius: 10px;
  padding: 68px 70px;
}


.promo h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302C34;
}
.promo p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #302C34; 
  max-width: 538px;
}